{{ define "main" }}

{{/*  Hero header  */}}
<section class="hero is-bold {{- with .Params.heroclass }} {{.}}{{ else }} is-primary{{ end }}">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{ .Title }}
      </h1>
      <h2 class="subtitle">
        {{ .Description }}
      </h2>
    </div>
  </div>
</section>

{{/*  Breadcrumb  */}}
<section class="section has-background-light" style="padding: 0.5rem 1.5rem;">
  <div class="container">
    {{ partial "breadcrumb.html" . }}
  </div>
</section>

{{/*  The markdown  */}}
<section class="section">
  <div class="container">
    <div class="content">{{ .Content }}</div>
  </div>
</section>

<section class="section">
  <div class="container">

    <div class="columns is-centered">
      <div class="column is-half">
        {{ range (sort .Site.Data.candela.files "modified" "desc") }}
        {{ partial "candela.html" . }}
        {{ end }}
      </div>
    </div>

  </div>
</section>


{{ end }}