{{ define "main" }}

{{/* Hero header */}}
<section
  class="hero is-bold {{- with .Params.heroclass }} {{.}}{{ end }}{{- with .Params.img }} is-medium{{ else }} is-primary{{ end }} is-relative">
  <div class="hero-body">
    <div class="container is-lv-2">
      <h1 class="title">
        {{ .Title }}
      </h1>
      <h2 class="subtitle">
        <span {{- with .Params.hastextbackground}} class="has-text-background has-background-dark-transparent"
          {{end}}>{{ .Description }}</span>
      </h2>
    </div>
  </div>
  {{- with .Params.img }}
  <div class="bg-img is-lv-1">
    {{ partial "img.html" (dict "src" . "alt" $.Title "layout" "fill")}}
  </div>
  {{ end -}}
</section>

{{/* Breadcrumb */}}
<section class="section has-background-light" style="padding: 0.5rem 1.5rem;">
  <div class="container">
    {{ partial "breadcrumb.html" . }}
  </div>
</section>

{{/* The markdown */}}
<section class="section">
  <div class="container">
    <div class="content">{{ .Content }}</div>

    <div class="content">
      <h3>Latest edition</h3>
      {{ range (sort .Site.Data.candela "modified" "desc") }}
      <div class="mb-1">
        <a href="{{ $.Site.Params.staticURL }}{{ .path }}">{{.title}}</a>
      </div>
      {{ end }}
    </div>

  </div>
</section>

{{ end }}