<div class="card mb-3">
  <div class="card-content">
    <!-- <p class="subtitle is-spaced  is-7">{{ partial "time.html" .Params.eventstart }}</p> -->
    <p class="title is-spaced is-6">
      <a href="{{ .ctx.Site.Params.staticURL }}{{ .item.path }}" target="_blank">{{ .item.title }}</a>
    </p>
    <div class="columns is-mobile">
      {{ if .item.image }}
      <div class="column is-3">
        <a href="{{ .ctx.Site.Params.staticURL }}{{ .item.path }}" target="_blank">
          <figure>
            {{ partial "img.html" (dict "src" .item.image "alt" "Candelas")}}
          </figure>
        </a>
      </div>
      {{ end }}
      <div class="column is-flex is-align-items-center">
        <p class="is-size-6 has-text-grey">{{ .item.description }}</p>
      </div>
    </div>
  </div>
  <footer class="card-footer">
    <a href="{{ .ctx.Site.Params.staticURL }}{{ .item.path }}" class="card-footer-item" target="_blank">Download</a>
  </footer>
</div>