<div class="card is-block" href="{{.Permalink}}">
  <!-- {{ if .Params.img }}
  <div class="card-image">
    <figure>
      {{ partial "img.html" (dict "src" .Params.img "alt" .Title )}}
    </figure>
  </div>
  {{ end }} -->
  <div class="card-content">


    <div class="media">
      {{ if .Params.img }}
      <div class="media-left">
        <figure class="image is-48x48 is-rounded">
          {{ partial "img-box.html" (dict "src" .Params.img "alt" .Title "layout" "intrinsic")}}
        </figure>
      </div>
      {{ end }}
      <div class="media-content">
        <p class="title is-4"><a href="{{.Permalink}}">{{ .Title }}</a></p>
        <p class="subtitle is-6">{{ .Description }}</p>
      </div>
    </div>

    <div class="content">
      {{ .Summary }}
      <br>
      <br>
      <strong>{{ partial "time.html" .Params.eventstart }}</strong>
    </div>
  </div>
  {{ if .Params.zoomlink }}
  <footer class="card-footer">
    <a href="{{.Params.zoomlink}}" class="card-footer-item" target="_blank">Join Zoom</a>
  </footer>
  {{ end }}
</div>