<a class="card is-block" href="{{.Permalink}}">
  {{ if .Params.img }}
  <div class="card-image">
    <figure>
      {{ partial "img.html" (dict "src" .Params.img "alt" .Title )}}
    </figure>
  </div>
  {{ end }}
  <div class="card-content">
    <div class="media">
      <!-- <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
        </figure>
      </div> -->
      <div class="media-content">
        <p class="title is-4">{{ .Title }}</p>
        <p class="subtitle is-6">{{ .Description }}</p>
      </div>
    </div>

    <div class="content">
      {{ .Summary }}
      <br>
      <br>
      <strong>{{ partial "time.html" .Params.eventstart }}</strong>
    </div>
  </div>
</a>